@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


/*============== start to main-slider ============================== */
.main-slider {
    position: relative;
    .item {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        @include dir-right(0);
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        pointer-events: none;
      }

      .info-slider {
        padding: 10px 0;
        width: 500px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
          .title {
            font-size: 28px;
            margin-bottom: 20px;
            font-weight: bold;
            opacity: 0;
            color: #fff;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            #{$ltr} & {
              transform: translateX(-200px);
            }
            #{$rtl} & {
              transform: translateX(200px);
            }
            transition: 0.5s;

            @media (max-width: 550px) {
              font-size: 20px;
              margin-bottom: 12px;
            }

          }
          
          .disc {
            font-size: 17px;
            color: #fff;
            // margin-bottom: 30px;
            line-height: 1.6;
            opacity: 0;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            #{$ltr} & {
              transform: translateX(-200px);
            }
            #{$rtl} & {
              transform: translateX(200px);
            }
            transition: 0.5s;
            @media (max-width: 550px) {
              font-size: 15px;
              // margin-bottom: 15px;
              -webkit-line-clamp: 3;
            }
          }

        @media screen and (max-width:$screen-sm) {
          width: calc(100% - 45px);
        }
      }

      .img {
        width: 100%;
        height: 630px;
        object-fit: cover;
        @media (max-width: $screen-xl) {
          height: 450px;
        }
      }


    }

    .active{
        .info-slider {
            padding: 10px 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            .title, .disc {
              opacity: 1;
              #{$ltr} & {
                transform: translateX(0);
              }
              #{$rtl} & {
                transform: translateX(0);
              }
            }
          }
    }

    .owl-dots{
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
    }
}
/********************* Start main-slider section *********************/


/********************* Start some-info section *********************/
.some-info{
  .content{
    width: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    @media screen and (max-width:$screen-sm) {
      width: 100%;
    }

    .color-title{
      font-size: 17px;
      color: $main;
    }

    .info-title{
      font-size: 24px;
      font-family: fontDemi;
      color: $black;
      text-transform: uppercase;

      @media screen and (max-width:$screen-xs) {
        font-size: 20px;
      }
    }
  }
}
/********************* End some-info section *********************/


/********************* Start principle section *********************/
.principle-card{
  position: relative;
  @include circle(320px);
  // @include center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 25px 20px;
  background-color: #fcfcfc;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);

  @media screen and (max-width:$screen-lg2) {
    @include circle(300px);
    padding: 80px 20px 20px;
  }


  &::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include dir-left(-30px);
    border: 22px solid $main;
    display: inline-block;
    transition: $main-transition;
    height: 380px;
    width: 190px;
    overflow: hidden;
    z-index: -1;
    
    #{$ltr} & {
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      border-right: 0;
    }
    #{$rtl} & {
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      border-left: 0;
    }

    @media screen and (max-width:$screen-lg2) {
      border-width: 18px;
      height: 360px;
      width: 180px;
    }
  
  }

  &::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include dir-right(-16px);
    
    border: 3px solid $blue;
    display: inline-block;
    height: 363px;
    width: 177px;
    overflow: hidden;
    z-index: -1;
    transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);
    
    #{$ltr} & {
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      border-left: 0;
    }
    #{$rtl} & {
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      border-right: 0;
    }

    @media screen and (max-width:$screen-lg2) {
      border-width: 2px;
      height: 350px;
      width: 175px;
    }
  }

  .prin-name{
    font-size: 28px;
    margin-bottom: 18px;
    color: $main;
    // font-weight: 600;

    @media screen and (max-width:$screen-xs) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .prin-desc{
    font-size: 16px;
    color: $main;
    line-height: 1.6;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    @media screen and (max-width:$screen-xs) {
      font-style: 15px;
    }
  }

  &:hover{
    transform: translateY(-10px);

    &::after{
      border-color: #1a67ab;
    }
  }
}
/********************* End principle section *********************/


/********************* Start services section *********************/
.services-slider{
  position: relative;

  .owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include circle(40px);
    border: 1px solid $main !important;
    background-color: $main !important;
    color: $white !important;
    @include center;
  }
  
  .owl-prev{
    right: -55px;
  }
  
  .owl-next{
    left: -55px;
  }
}
.services-card{
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: $sec-shadow;
  overflow: hidden;
  display: block;
  
  .img{
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: -1px;
      @include dir-left(0);
      border-style: solid;
      transition: all .4s ease;

      #{$ltr} & {
        border-color: transparent transparent $main transparent;
        border-width: 0px 0 110px 530px;
      }
      #{$rtl} & {
        border-color: transparent transparent $main transparent;
        border-width: 0px 530px 110px 0px;
      }
    }

    > img:first-child{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .services-img{
    position:absolute;
    bottom: -20px;
    @include dir-left(25px);
    border-radius: 8px;
    overflow: hidden;
    width: 80px !important;
    height: 54px !important;
    max-height: 80px;
    z-index: 8;
    object-fit: cover;
  }

  .services-content{
    padding: 50px 20px 50px;
    background-color: $main;
    color: $white;
    transition: all .4s ease;
    position: relative;

    .services-head{
      color: #fff;
      margin-bottom: 15px;
      height: 27px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;  
      overflow: hidden;

      #{$ltr} & {
        font-size: 19px;
      }
      #{$rtl} & {
        font-size: 22px;
      }
    }
    
    .services-desc{
      font-size: 15px;
      line-height: 1.6;
      color: $white;
      height: 72px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      
      #{$ltr} & {
        font-family: 'Poppins', sans-serif;
      }
      #{$rtl} & {
        font-family: fontReg;
      }
    }
    
    
    .left-icon{
      position:absolute;
      bottom: 15px;
      @include dir-right(20px);
      font-size: 23px;
      color: $white;

      #{$ltr} & {
        transform: rotate(180deg);
      }
    }
    
  }

  &:hover {
    .img::after{
      #{$ltr} & {
        border-color: transparent transparent #1a67ab transparent;
        border-width: 0 340px 65px 0;
      }
      #{$rtl} & {
        border-color: transparent transparent #1a67ab transparent;
        border-width: 0 0px 65px 340px;
      }
    }

    .services-content{
      background-color: #1a67ab;

      .left-icon {
        #{$ltr} & {
          animation: bounceLtr 1.6s infinite;
        }
        #{$rtl} & {
          animation: bounce 1.6s infinite;
        }
      }
    }

  }

  @media screen and (max-width:$screen-md) {
    &:hover {
      .img::after{
        border-color: transparent transparent #1a67ab transparent;
        
        #{$ltr} & {
          border-width: 0 600px 90px 0;
        }
        #{$rtl} & {
          border-width: 0 0px 90px 600px;
        }
      }
    }
  }
}

@keyframes bounce {
  0%,20%{
      transform: translatex(0);
  }
  40%{
      transform: translatex(-8px);
  }
  50%{
      transform: translatex(0);
  }
  60%{
      transform: translatex(-8px);
  }
  80%,100%{
      transform: translatex(0);
  }
}

@keyframes bounceLtr {
  0%,20%{
      transform: translatex(0) rotate(180deg);
  }
  40%{
      transform: translatex(8px) rotate(180deg);
  }
  50%{
      transform: translatex(0) rotate(180deg);
  }
  60%{
      transform: translatex(8px) rotate(180deg);
  }
  80%,100%{
      transform: translatex(0) rotate(180deg);
  }
}
/********************* End services section *********************/


/********************* Start brand section *********************/
.brand-img {
  max-width: 90px;
  max-height: 100px;
  width: fit-content !important;
  margin: 0 auto;
  /* object-fit: cover; */
}
/********************* End brand section *********************/


/********************* Start team-card section *********************/
.team-card{
  height: 100%;
  .team-img{
    height: 80px;
    position: relative;

    .img{
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 155px;
      max-height: 160px;
      z-index: 2;
    }
  }
  .team-content{
    background-color: $main;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding: 110px 30px 50px;
    box-shadow: $nav-shadow;
    transition: $main-transition;
    height: calc(100% - 100px);

    &::after{
      position: absolute;
      content: '';
      width: 90%;
      top: -160px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #1a67ab;
      @include circle(250px);
      transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);
    }

    .team-name{
      font-size: 28px;
      color: $white;
      margin-bottom: 7px;
      font-weight: 600;

      @media screen and (max-width:$screen-xs) {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    .team-jop{
      font-size: 18px;
      margin-bottom: 22px;
      color: $white;

      #{$ltr} & {
        font-family: 'Poppins', sans-serif;
      }
      #{$rtl} & {
        font-family: fontReg;
      }
    }

    .team-desc{
      font-size: 15px;
      color: $white;
      line-height: 1.6;
      
      #{$ltr} & {
        font-family: 'Poppins', sans-serif;
      }
      #{$rtl} & {
        font-family: fontReg;
      }
    }
  }

  &:hover{
    .team-content::after{
      transform: translateX(-50%) rotate(360deg) scale(1.2);
    }
  }
}
/********************* End team-card section *********************/


/********************* Start numbers section *********************/
.our-numbers{
  position: relative;

  .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .number-items{
    @include center;
    flex-wrap: wrap;
    gap: 30px 85px;

    @media screen and (max-width:$screen-sm) {
      justify-content: start;
      gap: 20px;
    }

    .number-item{
      text-align: center;
      color: $white;

      .num{
        font-size: 34px;
        margin-bottom: 10px;
        font-family: JF-flat;

        @media screen and (max-width:$screen-sm) {
          font-size: 28px;
        }
      }

      .text{
        font-size: 20px;

        @media screen and (max-width:$screen-sm) {
          font-size: 17px;
        }
      }
    }
  }
}
/********************* End numbers section *********************/


/********************* Start get-quote section *********************/
.get-quote{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $main;
  box-shadow: $main-shadow;
  color: $white;
  font-size: 14px;
  padding: 18px 10px;
  z-index: 100;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: fontUrw;
  transition: $main-transition;
  overflow: hidden;
  border: 1px solid $main;
}
/********************* End get-quote section *********************/


/********************* Start Gallary section *********************/
.gallary{

  display: grid;
  grid-template-areas:
    'header sec three three'
    'header four five six'
    'seven seven last six';
  gap: 10px;
  grid-auto-rows: 200px;

  @media screen and (max-width:$screen-lg) {
    grid-auto-rows: 180px;
  }

  @media screen and (max-width:$screen-md) {
    @include grid(170px, 10px);
    grid-template-areas: unset;
  }

  .fancybox-img {
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &::after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0,0,0,0.3);
      transition: $main-transition;
    }
    
    .gallary-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $main-transition;
    }

    &:hover{
      &::after{
        opacity: 0;
      }

      .gallary-img{
        transform: scale(1.1);
      }
    }

    &:first-child{
      grid-area: header; 
    }

    &:nth-child(2){
      grid-area: sec; 
    }

    &:nth-child(3){
      grid-area: three; 
    }

    &:nth-child(4){
      grid-area: four; 
    }

    &:nth-child(5){
      grid-area: five; 
    }

    &:nth-child(6){
      grid-area: six; 
    }

    &:nth-child(7){
      grid-area: seven; 
    }

    &:nth-child(8){
      grid-area: last; 
    }

    @media screen and (max-width:$screen-md) {
      grid-area: unset !important;
    }
  }
}
/********************* End Gallary section *********************/


/********************* Start page-header section *********************/
.page-header{
  position: relative;
  z-index: 2;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003731b5;
    z-index: -1;
  }

  .section-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }

  .page-info{
    padding-top: 160px;
    padding-bottom: 40px;

    @media screen and (max-width:$screen-xs) {
      padding-top: 80px;
      padding-bottom: 25px;
    }
    
    .page-head{
      font-size: 30px;
      color: $white;
      margin-bottom: 18px;
      
      @media screen and (max-width:$screen-xs) {
        font-size: 26px;
      }
    }
  }
}
/********************* End page-header section *********************/



/********************* Start contact-box section *********************/
.contact-box{
  background-color: $white;
  border-radius: 12px;
  // box-shadow: $main-shadow;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: $main-transition;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media screen and (max-width:$screen-md) {
    padding: 15px;
    gap: 12px;
  }
  
  .ic{
    @include circle(60px);
    @include center;
    background-color: $main;
    font-size: 24px;
    color: $white;
    transition: $main-transition;

    @media screen and (max-width:$screen-md) {
      @include circle(50px);
      font-size: 20px;
    }
  }

  .name{
    font-size: 18px;
    color: $black;

    @media screen and (max-width:$screen-md) {
      font-size: 16px;
    }
  }
  
  .desc{
    font-size: 14px;
    color: $black;
    font-family: JF-flat !important;

    @media screen and (max-width:$screen-md) {
      font-size: 13px;
    }
  }


  &:hover{
    transform: translateY(-10px);

    .ic{
      background-color: #1a67ab;
    }
  }

}

.contact-form{
  background-color: $white;
  border-radius: 12px;
  // box-shadow: $main-shadow;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 35px 25px;
  transition: $main-transition;
  margin-bottom: -50px;
  position: relative;
  z-index: 65;

  @media screen and (max-width:$screen-md) {
    padding: 20px 15px;
  }

  .input-g{
    margin-bottom: 24px;
  }

  .input-me{
    background-color: $white !important;
    // border: 1px solid #ddd !important;
  }
}

.contact-img{
  max-width: 100%;
  max-height: 400px;

  @media screen and (max-width:$screen-lg) {
    display: none;
  }
}
/********************* End contact-box section *********************/



/********************* Start about-con section *********************/
.about-con{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 35px;

  @media screen and (max-width:$screen-lg) {
    flex-direction: column;
    align-items: center;
  }

  .about-right{
    width: 100%;

    .small-title{
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      background-color: $main;
      border-radius: 25px;
      width: fit-content;
      color: $white;
      font-size: 15px;
      
      #{$ltr} & {
        padding: 10px 25px 10px 15px;
      }
      #{$rtl} & {
        padding: 10px 15px 10px 25px;
      }
    }

    .about-title{
      font-size: 24px;
      color: $black;
      margin-bottom: 18px;
    }

    .desc{
      font-size: 15px;
      color: $black;
      line-height: 1.9;
    }
  }


  .about-img{
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      border: 1px solid $main;
      top: 20px;
      @include dir-right(20px);
      z-index: 2;
    }

    .img{
      width: 400px;
      height: 340px;
      border-radius: 15px;
      object-fit: cover;

      @media screen and (max-width:$screen-sm) {
        width: 340px;
        height: 300px;
      }

      @media screen and (max-width:$screen-xxs) {
        width: 260px;
        height: 260px;
      }
    }
  }
}
/********************* End about-con section *********************/



/********************* Start services-content section *********************/
.services-detailes{
  display: flex;
  align-items: start;
  gap: 25px;

  @media screen and (max-width:$screen-lg) {
    flex-direction: column;
    align-items: center;
  }

  .left{
    width: 100%;

    .services-title{
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      background-color: $main;
      border-radius: 25px;
      width: fit-content;
      color: $white;
      font-size: 17px;
      
      #{$ltr} & {
        padding: 10px 25px 10px 15px;
      }
      #{$rtl} & {
        padding: 10px 15px 10px 25px;
      }

      @media screen and (max-width:$screen-xs) {
        margin: 0 auto 18px;
      }
    }

    .desc{
      font-size: 16px;
      color: $black;
      line-height: 2;
    }
  }


  .services-img{
    width: 400px;
    height: 340px;
    border-radius: 15px;
    object-fit: cover;

    // @media screen and (max-width:$screen-sm) {
    //   width: 340px;
    //   height: 300px;
    // }

    @media screen and (max-width:$screen-xs) {
      width: 100%;
      height: 260px;
    }
  }
}
/********************* End services-content section *********************/